{% extends "NavBar.html" %}
{% block title %}Your pixel Pic{% endblock %}


 {% block body %}

     <script>
     document.getElementById("pixel_pic").className = "active"
     </script>
     <h1>Here is your Pixel Pic</h1>
     <div style="text-align: center; width: 60%" >
         <img  src={{ url_for('static', filename='pixelPic.png') }} align="middle">

 </div>


{% endblock %}
