{% extends "NavBar.html" %}
{% block title %}Upload Files{% endblock %}


 {% block body %}
     <style>
     .selected{
         width: 25%
     }
     .not_selected{
         height: 50px;
         background:none;
         width: 25%;
         border: blueviolet;
         border: 0;
         padding: 0;
         margin: auto;
         position: center;

     }

     </style>
     <script>
     document.getElementById("pixel_pic").className = "active"
     </script>
<h1>Create your PixelPic</h1>
     <div style="font-size: 0;margin: auto; position: center; width: 50%">
     <button class="not_selected" onclick="select_switch(0,this)">
             <img style="width: 100%" src={{url_for('static', filename='Mountains/example.jpg') }}>
         <P>Mountains</P>
         </button>
        <button class = 'not_selected'  onclick="select_switch(1,this)">
             <img style="width: 100%"   src={{url_for('static', filename='Winter/example.jpg') }}>
         </button>
     <button class="not_selected"  onclick="select_switch(2,this)">
             <img style="width: 100%" src={{url_for('static', filename='movie_posters/example.png') }}>
         </button>
        <button class = 'not_selected' onclick="select_switch(3,this)">
             <img style="width: 100%" src={{url_for('static', filename='volcanic/example.jpg') }}>
         </button>

     </div>


     <form method=post enctype=multipart/form-data>
     <input id = "0" name = "switch_0"class = switch type="checkbox">
         <input id = "1"  name = "switch_1" class = switch type="checkbox">
         <input id = "2" name = "switch_2"class = switch type="checkbox">
         <input id = "3" name = "switch_3"class = switch type="checkbox">
     <button type="submit">submit</button>
     </form>
     <script src="{{url_for('static', filename='FolderSelection.js')}}"></script>


{% endblock %}
