{% extends "NavBar.html" %}
{% block title %}Upload Files{% endblock %}


 {% block body %}
     <style>

     </style>
     <script>
     document.getElementById("pixel_pic").className = "active"
     </script>
<h1>Create your PixelPic</h1>
    <form method=post enctype=multipart/form-data>
        <label style="display: block" for = "file" >Select image folder</label>
        <input style="background-color: rgb(0,0,175); color: white" type="file" id = "folder" webkitdirectory directory multiple name="folder"/>
        <button type="submit" >Submit</button>
    </form>

{% endblock %}
