{% extends "NavBar.html" %}
{% block title %}Pixel Pic{% endblock %}


 {% block body %}
     <script>
     document.getElementById("pixel_pic").className = "active"
     </script>
    <h1>Create your PixelPic</h1>
    <form  method=post enctype=multipart/form-data>
        <label style="display: block" for = "file" >Select image to pixelate</label>
        <input style="background-color: rgb(0,0,175); color: white" type="file"  name="file" id="file" class="inputfile" />
        <button type="submit" >Submit</button>
    </form>
{% endblock %}