<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='website.css') }}">
        <title> Pixel Pic</title>

</head>
<body>
    <title>Upload Files</title>
    <h1>Create your PixelPic</h1>
    <form method=post enctype=multipart/form-data>
        <h3>Select Image Folder</h3>
        <input type="file" webkitdirectory directory multiple name="folder"/><br>
        <h3>Select Pixel Image</h3>
        <input style="color:blue"; type=file name=file>
        <input  style="color:blue"; type=submit value=Upload>
    </form>


</body>
</html>
