button[type = "submit"]{
    display: block;
    max-width: 300px;
    margin: auto;
    color: white;
    background-color: rgb(0,0,175);
    size: auto;
    font-size: 25px;
    margin-top: 20px;
}
#submit{
    background-color: #9C1A1C;
    color: #9C1A1C;
}

button[type = "submit"]:hover{
    background-color: rgb(50,0,100);
}
body{
    background-color: white;
}
input{
    border: #485F6E;
    fill: red;

}
form{
    text-align:center;
}