ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /*position: fixed;*/
  top: 0%;
  width: 100%;
  height: 45px;
}

li {
  float: left;
    width: 25%;
  height: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    height: 100%;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(175,0,175);
        font-size: 100%;
    padding: 14px 16px;
      text-align: center;
}