h1{
    font-family: serif;
    color: rgb(0,0,175);
    font-size: 300%;
    text-align:center;

}

button[type = "submit"]{
    display: block;
    max-width: 300px;
    margin: auto;
    color: white;
    background-color: rgb(0,0,175);
    size: auto;
    font-size: 25px;
    margin-top: 20px;
}
button[type = "submit"]:hover{
    background-color: rgb(50,0,100);
}
body{
    background-color: white;
}
input{
    border: #485F6E;
    fill: red;

}
form{
    text-align:center;
}
submit{
    color: #9C1A1C;
}
h3{
    display: inline-block
}
inputfile::-webkit-file-upload-button {
  visibility: hidden;
}
inputfile::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
inputfile:hover::before {
  border-color: black;
}
inputfile:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}
body {margin:0;
background-color: white}

