{% extends "NavBar.html" %}
{% block title %}Forrest's Site{% endblock %}


 {% block body %}
     <script>
     document.getElementById("backgammon").className = "active"
     </script>
<style>
        body {margin: 0}
        canvas {display: block; background-color: lightBlue;}
    </style>
     <canvas style="margin-left:auto;
    margin-right:auto; margin-bottom: auto; margin-top: auto;" id = "backgammon_board">
     </canvas>
     <a style="opacity: 0" id = "winner" href="/winner">next</a>
     <a  style="opacity: 0"id = "looser" href="/looser">next</a>

<script>
</script>
<script src="{{url_for('static', filename='Backgammon.js')}}"></script>

{% endblock %}