{% extends "NavBar.html" %}
{% block title %}Forrest Wargo{% endblock %}


 {% block body %}
     <script>
     document.getElementById("about").className = "active"
     </script>
<style>
body, html {
  height: 100%;
  margin: 0;
  background-color: #cee0d0;
}


#about_page {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #cee0d0;
}

#photo, #description {
    width: calc(90% - 270px);
    display: block;
    min-width: 270px;
    max-width: 400px;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;


}

#description {
    background-color: #f5ffeb;
    clear: right;
    padding: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
}

#linklist {
    margin: 10px;
    float: left;

}


#photo img {
    width: 100%;
    border-radius: inherit;

}
#linklist div {
    width: 230px;
    margin: 10px;
    background-color: white;
    vertical-align: middle;
    padding: 10px;
    border-radius: 10px;
}

#linklist div img {
    height: 30px;


}

#linklist div a {
    font-family: 'Sofia', cursive;
    font-size: 30px;
    margin-left: 10px;
    color: inherit;

}



#linkedin {
    color: #416587;
    border: 5px solid #416587;
}


#bitbucket {
  color: #2e51ff;
  border: 5px solid #2e51ff;
}

#email {
  color: #fc581c;
  border: 5px solid #fc581c;
}

#resume {
  color: #000000;
  border: 5px solid #000000;
}



#footer {
    width: 100vw;
    float: bottom;
    padding-bottom: 0;
    margin-bottom: 0;

}

</style>

<div id = "about_page">


    <div id = "linklist">
        <div class = link id = "linkedin">
            <img src={{url_for('static', filename='about_page/linkedin.png') }}>
            <a href="https://www.linkedin.com/in/forrest-wargo-089090161/" target="_blank">LinkedIn</a>
        </div>

        <div class = link id = "bitbucket">
            <img src={{url_for('static', filename='about_page/bitbucket.png') }}>
            <a href="https://bitbucket.org/1forrest1/" target="_blank">Bitbucket</a>
        </div>

        <div class = link id = "email">
            <img src={{url_for('static', filename='about_page/gmail_logo.png') }}>
            <a href = "mailto: Forrest.Wargo@gmail.com">Email Me</a>
        </div>

        <div class = link id = "resume">
            <img src={{url_for('static', filename='about_page/resume.png') }}>
            <a href='../static/about_page/Forrest_Wargo_Resume.pdf' target="_blank">Resume</a>
        </div>
    </div>


    <div id = "photo">
        <img src={{url_for('static', filename='../static/about_page/me_on_wall.jpg') }}>

    </div>
    <div id = "description">
        <P class="Bio">
            My name is Forrest Wargo. I am a junior Computer Science major at the University of Rochester. I have experience in full-stack development, as displayed here
            using Python flask backend hosted on AWS, with a JS frontend. I also have experience in Java, and C++. I am looking for internships,
            short term jobs, and freelance work.
        </P>
    </div>


<img id = "footer" src ={{url_for('static', filename='../static/about_page/trees_bottom2.png') }}>
</div>












{% endblock %}