
{% extends "NavBar.html" %}
{% block title %}Sudoku{% endblock %}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='sudoku.css') }}">{% endblock %}


 {% block body %}
     <script>
     document.getElementById("sudoku").className = "active"
     </script>
<!--<button class="permanent" type="button" id ="submit_value" onclick="select_button(-1)">submit</button>-->
     <div id = 'table_container' >
     <table id = "board_table" style="    margin-left:auto;
    margin-right:auto;">
    </table>
     </div>

     <input type="range" min="1" max="100" value="20"  id="speed_slider">

     <div id = button_container>
     <button class="permanent" type="button" id ="generate" onclick=" generate_board()">Generate Unique Puzzle</button>

     <button class="permanent" type="button" id ="reset" onclick=" reset_puzzle()">Reset</button>

<button class="permanent" type="button" id ="solver" onclick=" solve_puzzle()">Solve</button>
     </div>

<p id ="warning" style=" color: red">input out of bounds </p>
<script src="{{url_for('static', filename='sudoku.js')}}"></script>

{% endblock %}
