{% extends "NavBar.html" %}
{% block title %}Forrest's Site{% endblock %}


 {% block body %}
     <style>
     #replay{
         margin: auto;
            display: block;
            background-color: navy;
            color: red;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            height: 50%;
            border: none;
     }
     #replay:hover{
         background-color: blue;

     }
     </style>
     <script>
     document.getElementById("backgammon").className = "active"
     </script>
     <h1>Congratulations! </h1>
     <div style="margin: auto;
        width: 200px;
        padding: 10px;">

         <a id = "replay" href="http://127.0.0.1:5000///Backgammon">Play Again</a>
     </div>

{% endblock %}