{% extends "NavBar.html" %}
{% block title %}Pixel Pic{% endblock %}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='PixelPic.css') }}">{% endblock %}


 {% block body %}
     <script>
     document.getElementById("pixel_pic").className = "active"
     </script>
<!--<button class="permanent" type="button" id ="submit_value" onclick="select_button(-1)">submit</button>-->
     <h1>Create your PixelPic</h1>
    <form  method=post enctype=multipart/form-data>
        <label style="display: block" for = "file" >Select image to pixelate</label>
        <input style="background-color: rgb(0,0,175); color: white" type="file"  name="file" id="file" class="inputfile" />
        <label style="display: block" for = "file" >Select image folder</label>
        <input style="background-color: rgb(0,0,175); color: white" type="file" id = "folder" webkitdirectory directory multiple name="folder" onchange="previewFiles()"/>
    </form>
     <button style="margin-left: 50%" id = 'submit' onclick="gatherData()">Submit</button>
<input id="browse" type="file" onchange="previewFiles()" multiple>
<div id="preview"></div>

<script src="{{url_for('static', filename='PixelPic.js')}}"></script>

{% endblock %}
